html, body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: $textSize;
  @media #{$firstBreakpointStr} {
    font-size: $textFirstSize;
  }
  @media #{$secondBreakpointStr} {
    font-size: $secondBreakpoint * ($textFirstSize / 100vw);
  }
  line-height: $lineHeight;
}


body {
  font-family: $primaryFontFamily;
  background-color: $blueSapphire;
  color: $defaultColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondaryFontFamily;
  font-size: 2rem;
}

h1 { color: $black; }
h2 { color: $blueSapphire; }
h3 { color: $khakiWeb; }
h4 { color: $rosyBrown; }
h5 { color: $pewterBlue; }

label {
  cursor: pointer;
}

a {
  @include transition(color);
  color: $pewterBlue;
  &:visited { color: $blueSapphire; }
  &:hover { color: $rosyBrown; }
  &:active { color: $rosyBrown; }
}

div.wrapper {
  max-width: $secondBreakpoint;
  margin: 0 auto;
  position: relative;
  padding: 0 1em;
  padding-right: calc(1em + env(safe-area-inset-right));
  padding-left: calc(1em + env(safe-area-inset-left));
  box-sizing: border-box;
}
