section.cta {
  div.cta {
    text-align: center;
    font-size: 1.5em;
  }
  a, label {
    @include transition(transform);
    display: inline-block;
    &:hover {
      transform: scale(1.02);
    }
  }
  &:not(.bg-isabelline) {
    color: $white;
    a { color: $white; }
    label {
      background-color: $isabelline;
      color: $rosyBrown;
      &:hover {
        background-color: transparentize($isabelline,0.1);
      }
    }
  }
  &.bg-isabelline {
    color: $blueSapphire;
    label, label:hover {
      background-color: $rosyBrown;
    }
  }
}
