
body > footer {
  background-color: $blueSapphire;
  color: $pewterBlue;
  a {
    color: $pewterBlue;
    &:active, &:visited { color: $pewterBlue; }
    &:hover { color: $white; }
  }
  padding: $verticalPadding 0;
  > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$beforeFirstBreakpointStr} {
      flex-direction: column;
    }
    text-align: center;
    @media #{$firstBreakpointStr} {
      text-align: right;
    }
  }
}

#footer-logo {
  outline: none;
  @media #{$beforeFirstBreakpointStr} {
    padding-bottom: $verticalPadding;
  }
  img {
    height: $lineHeight*5em;
  }
}
