#hero {
  &:before {
    background-color: $pewterBlue;
    background-position: center center;
    background-size: cover;
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  transform-style: preserve-3d;
  &:not(.no-image):before { transform: translateZ(-50em) scale(1.5); }
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: $headerHeight + 2*$verticalPadding;
  color: $white;
  font-family: $secondaryFontFamily;
  text-align: center;
  position: relative;
  top: 0;
  display: flex;
  align-items: flex-end;
  .wrapper {
    max-width: $secondBreakpoint*.7;
    text-shadow: 0 0 0.8em #000;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0;
  }
  &:not(.no-image) .wrapper { transform: translateZ(-10em) scale(1.1); }
  &.no-image {
    min-height: 20em;
  }
  .book-button {
    font-size: 0.5em;
  }
  &:not(.no-image):after {
    font-size: 2em;
    line-height: 1;
    content: 'ã€‰';
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    width: 0.5em;
    text-align: center;
    height: 1em;
    margin-left: -0.25em;
    transform: rotate(90deg);
    pointer-events: none;
    @include transition(opacity);
    opacity: 0;
    #site.at-top & { opacity: 0.8; }
    animation: 3s ease-in-out 0s infinite alternate float;
  }
}

@keyframes float {
  from { transform:translateY(0) rotate(90deg); }
  to { transform:translateY(-0.5em) rotate(90deg); }
}
