#hero {
  &:before {
    transform: translateZ(-50em) scale(1.5);
    background-color: $pewterBlue;
    background-position: center center;
    background-size: cover;
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding-top: $headerHeight + 2*$verticalPadding;
  color: $white;
  font-family: $secondaryFontFamily;
  text-align: center;
  position: relative;
  top: 0;
  .wrapper {
    max-width: $secondBreakpoint*.7;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0;
    transform: translateZ(-10em) scale(1.1);
  }
  &.no-image {
    height: 20em;
  }
  .book-button {
    font-size: 0.5em;
  }
}
