section.text-box {
  text-align: center;

  &.bg-isabelline { background-color: $isabelline; }
  &.bg-rosy-brown { background-color: $rosyBrown; }
  &.bg-blue-sapphire { background-color: $blueSapphire; }
  &.bg-pewter-blue { background-color: $pewterBlue; }
  &.bg-khaki-web { background-color: $khakiWeb; }

  > .wrapper > img {
    width: 80%;
    height: auto;
    margin-bottom: -$verticalPadding/2;
    @media #{$firstBreakpointStr} {
      width: 43%;
      float: right;
      margin-top: $verticalPadding/2;
      z-index: -1;
    }
  }

  .text-box {
    text-align: left;
    box-sizing: border-box;
    padding: $verticalPadding;
    background-color: $white;
    color: $blueSapphire;
    &:not(:only-child) {
      @media #{$firstBreakpointStr} {
        width: 60%;
      }
    }
  }
}
