section.text-box {
  text-align: center;

  > .wrapper > img {
    transform: translateZ(10em) scale(0.95);
    width: 80%;
    height: auto;
    margin-bottom: -$verticalPadding/2;
    @media #{$firstBreakpointStr} {
      width: 43%;
      float: right;
      margin-top: $verticalPadding/2;
    }
  }

  .text-box {
    text-align: left;
    box-sizing: border-box;
    padding: $verticalPadding;
    background-color: $white;
    color: $blueSapphire;
    &:not(:only-child) {
      @media #{$firstBreakpointStr} {
        width: 60%;
      }
    }
  }

  @media #{$firstBreakpointStr} {
    &.position-left {
      .wrapper > img {
        float: left;
      }
      .text-box {
        margin-left: 40%;
      }
    }
  }
}
