<section class="testimonials">
  <ul>
    {{ range .Site.Data.testimonials.testimonials }}
      <li>
        <div class="wrapper">
          <div class="quote">{{ markdownify .quote }}</div>
          <div class="source">{{ .source }}</div>
        </div>
      </li>
    {{ end }}
  </ul>
  <div class="cta">{{ .Page.RenderString "[Book consulation now](BOOK)" }}</div>
  <script>
    (function(){
      var u=document.currentScript.parentElement.children[0],n=u.children.length,f=function(t){
        var w=window.innerWidth,x=((Math.round(u.scrollLeft/w)+n+(t||1))%n);
        u.scrollTo({top:0,left:w*x,behavior:'smooth'});
        u.style.height=u.children[x].getBoundingClientRect().height+'px';
      };
      u.style.overflowX='hidden';
      u.style.paddingTop='3em';
      var p=document.createElement('div');
      var r=document.createElement('div');r.className='button next';
      var l=document.createElement('div');l.className='button prev';
      window.addEventListener('resize',function(){f(n);});
      if (document.readyState !== 'loading') f(Math.floor(n*Math.random()));
      else document.addEventListener('DOMContentLoaded', function(){f(Math.floor(n*Math.random()))});
      var i,g=function(d){f(d);p.className='button pause';i=setTimeout(g,7000)},s=function(d){clearTimeout(i);p.className='button play';f(d)};
      g(n);
      p.addEventListener('click',function(){(this.className==='button pause'?s:g)(n)});
      r.addEventListener('click',function(){s(1)});
      l.addEventListener('click',function(){s(-1)});
      u.after(r);
      u.after(p);
      u.after(l);
    })();
  </script>
</section>
<footer>
  <div class="wrapper">
    <a id="footer-logo" href="/"><img src="/i/pewter-logo.svg" alt="{{ .Site.Title }}"></a>
    <div id="footer-text">
      <a href="mailto:contact@breastmed.co.uk">contact@breastmed.co.uk</a>
      <br>
      <a href="/privacy-policy">Privacy policy</a>
    </div>
  </div>
</footer>
