<section class="testimonials">
  <ul>
    {{ range .Site.Data.testimonials.testimonials }}
      <li>
        <div class="wrapper">
          <div class="quote">{{ markdownify .quote }}</div>
          <div class="source">{{ .source }}</div>
        </div>
      </li>
    {{ end }}
  </ul>
  <div class="cta">{{ .Page.RenderString "[Book consulation now](BOOK)" }}</div>
  <script>
    (function(){
      var u=document.currentScript.parentElement.children[0],n=u.children.length,f=function(t){
        var w=window.innerWidth,x=w*((Math.round(u.scrollLeft/w)+n+(t||1))%n);
        u.scrollTo({top:0,left:x,behavior:'smooth'});
      };
      u.style.overflowX='hidden';
      u.style.paddingTop='3em';
      window.addEventListener('resize',function(){f(n);});
      if (document.readyState !== 'loading') f(Math.floor(n*Math.random()));
      else document.addEventListener('DOMContentLoaded', function(){f(Math.floor(n*Math.random()))});
      var i,g=function(){f();i=setTimeout(g,7000)};
      g();
      var p=document.createElement('div');p.className='button pause';
      var r=document.createElement('div');r.className='button next';
      var l=document.createElement('div');l.className='button prev';
      p.addEventListener('click',function(){
        switch(this.className){
          case 'button pause':
            clearTimeout(i);
            this.className='button play';
            break;
          case 'button play':
            g();
            this.className='button pause';
            break;
        }
      });
      r.addEventListener('click',function(){f(1)});
      l.addEventListener('click',function(){f(-1)});
      u.after(r);
      u.after(p);
      u.after(l);
    })();
  </script>
</section>
<footer>
  <div class="wrapper">
    <a id="footer-logo" href="/"><img src="/i/pewter-logo.svg" alt="{{ .Site.Title }}"></a>
    <div id="footer-text">
      <a href="mailto:contact@breastmed.co.uk">contact@breastmed.co.uk</a>
      <br>
      <a href="/privacy-policy">Privacy policy</a>
    </div>
  </div>
</footer>
