<header>
  <div class="wrapper">
    <a id="site-logo" href="/"><img src="/i/white-logo.svg" alt="{{ .Site.Title }}"></a>
    <label id="menu-icon" for="menu-checkbox" role="button" title="Menu"></label>
    <div id="main-menu-bg"></div>
    <nav id="main-menu">
      <ul>
        {{ range .Site.Menus.main -}}
          {{ if ne .Weight 999 }}
            <li>
              {{ if .URL -}}
                <a href="{{ .URL }}" title="{{ .Title }}"{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="active" {{ end }}>{{ .Name }}</a>
              {{- else -}}
                <span>{{ .Name }}<span>
              {{- end }}
            </li>
          {{- end }}
        {{- end }}
        <li>
          <label class="book-button" for="book-checkbox">Book now</label>
        </li>
      </ul>
    </nav>
  </div>
</header>
