{{ $images := .Scratch.Get "images" }}
{{ if and (isset .Page.Params "hero_portrait") (isset .Page.Params "hero_landscape") }}
  {{- $portrait_original := $images.GetMatch (replace .Page.Params.hero_portrait "/i/" "") -}}
  {{- $portrait := $portrait_original.Resize "1500x" -}}
  {{- $landscape_original := $images.GetMatch (replace .Page.Params.hero_landscape "/i/" "") -}}
  {{- $landscape := $landscape_original.Resize "x2500" -}}
  <style>
    @media(orientation:landscape){#hero:before{background-image:url({{ $landscape.RelPermalink }});}}
    @media(orientation:portrait){#hero:before{background-image:url({{ $portrait.RelPermalink }});}}
  </style>
{{ else if isset .Page.Params "hero_portrait" }}
  {{- $portrait_original := $images.GetMatch (replace .Page.Params.hero_portrait "/i/" "") -}}
  {{- $portrait := $portrait_original.Resize "1500x" -}}
  <style>#hero:before{background-image:url({{ $portrait.RelPermalink }});}</style>
{{ else if isset .Page.Params "hero_landscape" }}
  {{- $landscape_original := $images.GetMatch (replace .Page.Params.hero_landscape "/i/" "") -}}
  {{- $landscape := $landscape_original.Resize "x2500" -}}
  <style>#hero:before{background-image:url({{ $landscape.RelPermalink }});}</style>
{{ end }}

{{- if or (isset .Page.Params "hero_portrait") (isset .Page.Params "hero_landscape") }}
  <div id="hero">
{{ else }}
  <div id="hero" class="no-image">
{{ end }}
  {{ $opts := dict "display" "block" }}
  <div class="wrapper">{{ .Page.RenderString $opts .Page.Params.hero_text }}</div>
</div>
